<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/Actor/ActorList">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Actor/ActorList">Actor<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Actor/MaleList">Male</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Actor/FemaleList">Female</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Movie/MovieList">Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Director/DirectorList">Director</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Studio/StudioList">Studio</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        <footer class="bg-light fixed-bottom text-center"><small>Copyright © Your Website</small></footer>

    </div>
</body>
</html>
